<div>
  <table
    class="table table-striped table-bordered"
    *ngIf="applications && applications.length"
    style="margin-top: 10px;"
  >
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Application ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Required Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Requested Date</th>
        <th >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of applications; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ application.id }}</td>
        <td>{{ application.name }}</td>
        <td>{{ application.age }}</td>
        <td>{{ application.requiredLoanAmount }}</td>
        <td>{{ application.status == null ? 'Pending' : application.status}}</td>
        <td>{{ application.requestedDate | date: "MM-dd-yyyy" }}</td>
        <td>
          <button
            class="btn btn-primary"
            (click)="viewApplication(application.id)"
            style="margin: 5px;"
          >
            View
          </button>
          <button
            *ngIf="isApplicant"
            class="btn btn-primary"
            (click)="deleteApplication(application.id)"
            style="margin: 5px;"
          >
            Delete
          </button>
          <button
            *ngIf="isReviewer && application.status == 'Pending'"
            class="btn btn-primary"
            (click)="reviewApplication(application.id)"
            style="margin: 5px;"
          >
            Review
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="isApplicant" style="margin-top: 5px;">
    <button class="btn btn-primary" (click)="applyForLoan()">Apply for Loan</button>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <alert></alert>
    </div>
  </div>
</div>
