<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <alert></alert>
    <h2>{{ pageTitle }}</h2>
    <div *ngIf="loanApplication">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" value="{{loanApplication.name}}" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" value="{{loanApplication.age}}" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <label for="status">Application Status</label>
        <input type="text" value="{{loanApplication.status}}" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <label for="requiredLoanAmount">Required Loan Amount</label>
        <input type="text" value="{{loanApplication.requiredLoanAmount}}" class="form-control" disabled/>
      </div>
      <div class="form-group" *ngIf="loanApplication.status == 'Approved'">
        <label for="approvedLoanAmount">Approved Loan Amount</label>
        <input type="text" value="{{loanApplication.approvedLoanAmount}}" class="form-control" disabled/>
      </div>
      <div class="form-group" *ngIf="loanApplication.status != 'Pending'">
        <label for="reviewerComments">Reviewer Comments</label>
        <input type="text" value="{{loanApplication.reviewerComments}}" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" *ngIf="loanApplication.status == 'Pending'" (click)="refreshStatus()" style="margin: 5px;">
          Refresh Status
        </button>
        <button class="btn btn-primary" (click)="onBack()" style="margin: 5px;">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
